.wrap-input100{
	padding: 22px 0;
}

.redirec-link{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.error{
	margin-left:10px;
	color: red;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
